{% extends "myApp/base.html" %}
{% block content %}
<h2> You have now been logged out </h2>
<div class="border-top pt-3">
<small class="text-muted">
<a class="ml-2" href="{% url 'login' %}"> Login </a>
</small>
</div>
<style type=text/css>

    body{
            background-image: url("https://cdn.pixabay.com/photo/2021/07/15/20/52/gadgets-6469387_960_720.jpg");
        }
    footer {
        text-align: center;
        padding: 0px;
        background-color: red;
        color: white;
      } </style>
      {% load static %}  <img src="{% static "myApp/image/aaa.jpg" %}" alt="Gaadget Aura" height="900" width="1150"/>  
      
    <footer>
        <p> © 2023 Gadget Aura. All rights reserved.</p>
          
          <p style="font-family:'Chiller'"> For Service-Related Enquiries Contact:service@gadgetaura.com</p>
    </footer>
          
{% endblock content %}