{% extends "myApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}<div class="content-section">
    <form method="POST">
    {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Gadget Aura - Register</legend>
            {{ form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Register</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Are You Already Registered?<a class="ml-2" href="{% url 'register' %}">Login</a></small>
    </div>
</div>
<style type=text/css>

body{
        background-image: url("https://cdn.pixabay.com/photo/2021/07/15/20/52/gadgets-6469387_960_720.jpg");
    }
footer {
    text-align: center;
    padding: 0px;
    background-color: red;
    color: white;
  } </style>
<footer>
    <p> © 2023 Gadget Aura. All rights reserved.</p>
      
      <p style="font-family:'Chiller'"> For Service-Related Enquiries Contact:service@gadgetaura.com</p>
    </footer>{% endblock content %}
